
<!--
**
 * Created by PhpStorm.
 * UserView: vmadmin
 * Date: 26.10.2017
 * Time: 15:02
 */
-->

<div class="row col-md-8 col-md-offset-2 registeration">
    <!--Sign Up-->
	<div class="registerInner">
        <div class="col-md-6 signUp">
            <h3 class="headerSign">Sign Up</h3>
            <form action="area/register" method="post">


                <div class="form-group">
                    <input class="form-control" name="username" id="username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$" placeholder="EMAIL">
                </div>

                <div class="form-group ">
                    <input class="form-control" type="password" name="password" id="password" value="" placeholder="PASSWORD">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" name="control_password" id="control_password" placeholder="PASSWORD CONFIRM">
                </div>


                <button class=" signbuttons btn btn-primary">Sign Up</button>

            </form>
        </div>


        <!--Sign In-->
        <div class ="col-md-6">
            <h3 class="headerSign">Sign In</h3>
            <form action="/area/login" method="post">
                <div class="form-group">
                    <input class="form-control" name="email_login" id="email_login" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$" placeholder="EMAIL">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" name="password_login" id="password_login" placeholder="PASSWORD" value="">
                </div>

                <button class="signbuttons btn btn-primary">Sign In</button>

            </form>
        </div>

</div>

</div>
