
<!--
**
 * Created by PhpStorm.
 * UserView: vmadmin
 * Date: 26.10.2017
 * Time: 15:02
 */
-->

<div class="row col-md-8 col-md-offset-2 registeration">
    <!--Sign Up-->
	<div class="registerInner">

        <div class ="col-md-6">
            <h1 class="headerSign">DELETE CONFIRMATION</h1>
            <form <!--login--> method="post">
                <div class="form-group">
                    <input class="form-control" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$" placeholder="EMAIL">
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" name="password" id="password_login" placeholder="PASSWORD" value="">
                </div>

                <button class="signbuttons btn btn-primary">DELETE</button>

            </form>
            <h1 class="headerSign">PAY ATTENTION THERE IS NO UNDO</h1>
        </div>

</div>
